@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  
  min-width: 320px;
  min-height: 100vh;
  background: rgb(193,91,255);
  background: black;
  /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background-image: url('./assets/evening.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;
  transition: 0.5s;
  
}
#root{
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
 }
 .loader {
  width: 110px;
  height:110px;
  border: 10px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 10px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 
 


